asyncpg==0.28.0
greenlet==2.0.2
SQLAlchemy==2.0.21
typing_extensions==4.8.0

redis==5.0.0
alembic==1.12.0
typer==0.9.0
passlib==1.7.4
pydantic==2.3.0
pydantic_settings==2.0.3
loguru==0.7.2
fastapi==0.101.1
orjson==3.9.10
Werkzeug==2.3.7
backoff==2.2.1
Authlib==1.2.1
httpx==0.25.2
itsdangerous

uvicorn==0.23.2
pyotp==2.9.0
python-dotenv==1.0.0

pytest==7.4.2
pytest-asyncio==0.21.1
aiohttp==3.8.5
user_agents==2.2.0
fastapi_users==12.1.2
apscheduler
gunicorn==21.2.0

#for jaeger
opentelemetry-api==1.17.0
opentelemetry-sdk==1.17.0
opentelemetry-instrumentation-fastapi==0.38b0
opentelemetry-exporter-jaeger==1.17.0